<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<h1>Sistema de Administrativo de Personas - SAP </h1>
<h3>Total de personas registradas: {{cantidad}}</h3>
<a href="nueva_persona">Agregar persona +</a>
<hr>
<div>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Detalle</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}} {{persona.apellido}}</td>
            <td>{{persona.email}}</td>
            <td>
                <a href="detalle_persona/{{persona.id}}">Ver detalle</a>
            </td>
            <td>
                <a href="editar_persona/{{persona.id}}">Editar</a>
            </td>
        </tr>
        {% endfor %}


        </tbody>
    </table>
</div>
</body>
</html>